//
//  Debug-stg.stg
//  Runner
//
//  Created by Nguyen Ngoc Tuyen on 22/9/25.
//

#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-stag.xcconfig"
#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include "Generated.xcconfig"
#include "config/multi-stg.xcconfig"
//#include "TokTok-defaults.xcconfig"
